/* Color Pallete
 rgb(26, 26, 25)
rgb(49, 81, 30)
rgb(133, 159, 61)
rgb(246, 252, 223) */


body {
  background-color: rgb(246, 252, 223);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: rgb(49, 81, 30);
  text-align: center;
  padding: 10px;
}

#container {
  width: 30%;
  overflow: hidden;
  border: 35px solid transparent;
  border-image: url(images/GrassBlock.png);
  border-image-slice: 50;
  border-image-width: 40px;
}

button{
  padding: 10px;
  text-align: center;
  display: auto;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  background-color: rgb(166, 181, 125);

}

video {
  width: 100%;
}

footer {
  background-color: rgb(49, 81, 30);
  padding: 30px;
  text-align: center;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}
