body {
  background-color: #70706F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #3AAA35;
  text-align: center;
}

#container {
  width: 50%;
  border: 3px solid #3AAA35;
  border-radius: 6px;
  overflow: hidden;
  padding: 20px;
  background-color: white;
}

video {
  width: 100%;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}
