body {
  background-color: rgb(246, 252, 223);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: rgb(49, 81, 30);
  text-align: center;
  padding: 10px;
}

#container {
  width: 30%;
  overflow: hidden;
  border: 35px solid transparent;
  border-image: url(images/GrassBlock.png);
  border-image-slice: 50;
  border-image-width: 40px;
}

video {
  width: 100%;
}

footer {
  background-color: rgb(49, 81, 30);
  padding: 30px;
  text-align: center;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}
